<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
</head>
<body>
<section>
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Online Examination</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav2">
    <div class="collapse navbar-collapse" id="mynavbar" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:9000/home/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:9000/teacher/">TEACHER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:9000/student/">STUDENT</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>

</section>
{% block content %}

{% endblock %}
</body>
</html>